html,
body {
  height: auto;
}
#coMainTitle {
  text-align: center;
}
body {
  background-color: #212121;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  overflow-y: auto;
}
section {
  display: none;
}

#mainTitle {
  margin: 0;
  color: rgb(175 174 174);
  font-size: 45px;
  font-weight: bold;
  font-family: serif;
  box-shadow: 0 4px 6px rgba(136, 115, 115, 0.1);
}
.header-image {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 50px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#divMainTitle {
  background-color: rgb(205, 199, 199);
  padding: 20px;

  border-bottom: 2px solid #000000;
  box-shadow: 9px 10px 15px rgb(0 0 0 / 10%) (136, 115, 115, 0.1);
  background-size: cover;
  background-image: url("/assets/images/crypto-quarterly-outlook_500082151_banner.png");
}
#navBarDiv {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}
#inputSearchBar {
  margin-left: 150px;
  margin-right: 20px;
  width: 200px;
}
#myTabContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  text-align: center;
  flex-direction: column;
}
#cryptoCards {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  padding: 15px;
  overflow-y: auto;
}
.card-title {
  text-align: left;
}

.card-body {
  background-color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
}
.coin-card {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 500px;
  margin: 15px;
  padding: 5px;
}

.card-text {
  display: flex;
  justify-content: space-between;
}

.card-header {
  background-color: #333;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
#switch {
  direction: rtl;
}
.cardTitleCoin {
  text-decoration: underline;
}
.modal-body {
  color: #000000;
  overflow-y: auto;
  max-height: 400px;
}
@media screen and (max-width: 768px) {
  #cryptoCards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.img-fluid {
  width: 30px;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

#tamirImg {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.about-text {
  position: relative;
  z-index: 1;
}

.about-text p,
.about-text h3,
.about-text ul {
  position: relative;
  z-index: 1;
}

#tamirImg {
  width: 120px;
  height: 150px;
}
.popover .img-fluid {
  width: 100%;
  height: auto;
}
